#root,
.layout {
  min-height: 100vh;
}

header .logo {
  width: 120px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 24px 16px 0;
  float: left;
  color: #1890ff;
  font-size: 1.1em;
  cursor: default;
}

header .ant-menu {
  line-height: 64px;
}

main {
  padding: 50px;
  text-align: center;
}

footer {
  text-align: center;
}

@media (max-width: 650px) {
  main {
    padding: 0;
  }
  .wrapper {
    padding: 20px 10px;
  }
}